{% extends 'mainbase.html' %}
{% block head %}
  
{% endblock %}
 
{% block content %}
<div class="jumbotron col-lg-8 offset-4" style="background-color:#ffe6e6;">
    <h3 >You have an active booking.
    You are  parking your Vehicle (id:<strong> {{vehicleid}}</strong>) 
    at Parking spot: <strong>{{slotid}} </strong>from<strong> {{stime}} </strong> to  <strong> {{etime}} </strong>
    If you have unparked your vehicle or unparking now, please hit <strong>Vacate</strong> 
    so that parking spot:  <strong>{{slotid}} </strong> becomes available for other users.
    </h3>
    <form action="vacate" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{slotid}}" name="slotid" />
    <button class="btn btn-success btn-lg" type="submit">Vacate</button>
    <div>  </div>
    </form>
    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#{{slotid}}">Extend Time</button>
    <div class="modal fade" role="dialog" id="{{slotid}}" >
    <div class="modal-dialog modal-xs">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Enter Hours to Extend</h4>
        </div>
        <div class="modal-body">
          <form method='post' action='extendtime'>
          
          {% csrf_token %}
          <input type="hidden" name="slotid" value="{{slotid}}" />
          <br>
          <input name="userid" type="hidden" value="{{user.id}}" />
          <br>
          <label >Parking hours:</label>
           <input type ='number' class="integer"  name="hours" min="1" max="5" required/>
           <button type="submit" class="btn btn-success" >Confirm Extention</button>
           <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </form>
        </div>
        <div class="modal-footer">    
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}